@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --browser-body-text: #CCD6F6;
  --primary-background-color: #0A192F;
  --secondary-background-color: #162846;
  --card-title: #64FFDA;
  --card-text: #fff;
  --toggle-button-primary: #CCD6F6;
  --toggle-button-secondary: #000;
}

html {
  transition: all 0.5s ease-in;
}

html.light {
  --primary-background-color: #DDE4E7;
  --secondary-background-color: #527b9e;
  --card-title: #f7bf49;
  --card-text: #fff;
  --browser-body-text: #2C699E;
  --toggle-button-primary: #354e79;
  --toggle-button-secondary: #fff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--browser-body-text);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin: 0;
}

.toggle {
  cursor: pointer;
  background-color: var(--toggle-button-primary);
  color: var(--toggle-button-secondary);
  font-family: 'Roboto Mono';
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  border: 0;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
}

.toggle:focus {
  outline: 0;
}

.toggle:active {
  transform: translateY(1px);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 75%;
}

h1 {
  margin: 60px 0 0 0;
}

h3 {
  margin: 0 0 0 3px;
}

p {
  margin-top: 0;
}

.project-card {
  background-color: var(--secondary-background-color);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.project-card p {
  color: var(--card-text);
  font-size: 18px;
  margin: 0;
  padding: 0 5px;
}

.project-card p a:hover {
  color: var(--card-title);
  transition: all 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.08);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.project-title a {
  color: var(--card-title);
  font-size: 24px;
  text-decoration: none;
  margin: 10px;
  padding: 0;
}

.project-title a:hover {
  color: #fff;
  transition: all 0.1s ease-in-out;
}

p a {
  color: var(--card-text);
  text-decoration: none;
}

h3:focus {
  outline: 0;
}

/* media query used here to stack elements in browser body if screen smaller than 800px*/
@media(max-width: 800px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project-card {
    margin: 10px;
  }
}